.cart-widget {
    position: relative;
    cursor: pointer;
    text-align: center;
    color: white;
  }
  
  .qty-display {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 17px;
  }

  .cart-prod__image img{
    height: 250px;
  }
  .cart-prod__info p{
    font-size: 20px;
    text-align: center;
  }

  .cart-prod__info span{
    position:relative;
  }

  .cart-prod__action button{
    position: static;
  }